body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.vh-10 {
  height: 10vh;
}

.vh-80 {
  height: 80vh;
}

.vh-90 {
  height: 90vh;
}
